extends layout

block content
    h1 #{company.name}

    p
        a(href='/companies') Back to All Companies

    if employees.length
        p #{company.name} employs #{employees.length} employees:
        // TODO should say 'company' if only one! ;)
        ul.companies
            for other in employees
                li.company
                    form(action='/companies/#{company.id}/unemploy', method='POST')
                        a(href='/companies/#{other.id}') #{other.name}
                        input(type='hidden', name='company[id]', value='#{other.id}')
                        input(type='submit', class='follow', value='x')
    else
        p #{company.name} isn't employing anyone currently.

    if others.length
        form(action='/companies/#{company.id}/employ', method='POST')
            p Add someone for #{company.name} to hire:
            label
                select(name='company[id]', required)
                    option(value='')
                    for company in others
                        option(value='#{company.id}') #{company.name}
            input(type='submit', value='Hire')
    else
        p There's no one else left for #{company.name} to hire!

    form(action='/companies/#{company.id}', method='POST')
        p Edit this company:
        input(type='text', name='name', placeholder='#{company.name}', required)
        input(type='submit', value='Update')

    form(action='/companies/#{company.id}', method='POST', onsubmit='return confirm("Are you sure?");')
        p And if you're feeling destructive…
        input(type='hidden', name='_method', value='DELETE')
        input(type='submit', value='Delete Company')
